.container {
  position: relative;
}

.input {
  font-family: Poppins;
  height: 40px;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  transition: .2s;
  color: #0288d1;

  &:focus {
    border: 2px solid #0288d1;
  }
}

.search {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(assets/search.svg) center no-repeat;
  background-size: 25px;
  position: absolute;
  right: 10px;
  top: -2px;
  border: none;
  outline: none;
}
