.header {
  background: #2f3033;

  .nav {
    max-width: 1190px;
    margin: 0 auto;
  }

  .link,
  .link-active {
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-bottom: 3px solid #2f3033;
    transition: .5s;

    &:hover {
      border-bottom: 3px solid #0cc;
      background: #56575d;
    }
  }

  .link-active {
    color: #0cc;
    border-bottom: 3px solid #0cc;
  }
}
